<!doctype html>
<html lang="el">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900i&amp;subset=greek"
    rel="stylesheet">

  <!-- Custom Css -->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/styles.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>

  <!-- Angular -->
  <script src="./js/angularApp.js"></script>

  <!-- Controllers -->
  <script src="./js/controllers/productsCtrl.js"></script>
  <script src="./js/controllers/productPageCtrl.js"></script>
  <script src="./js/controllers/navBarCtrl.js"></script>
  <script src="./js/controllers/cartCtrl.js"></script>
  <script src="./js/controllers/checkoutCtrl.js"></script>

  <!-- Services -->
  <script src="./js/services/productsServices.js"></script>
  <script src="./js/services/cartServices.js"></script>
  <script src="./js/services/shippingsServices.js"></script>
  <script src="./js/services/ordersServices.js"></script>
  <script src="./js/services/paymentServices.js"></script>
  <script src="./js/services/slug.js"></script>

  <!-- Directives -->
  <script src="./js/directives/uiMessage.js"></script>
  <script src="./js/directives/errSrc.js"></script>
  <script src="./js/directives/recaptcha.js"></script>


  <script src="./js/smoothScrollService.js"></script>

  <!-- Recaptcha -->
  <script type="text/javascript" src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
</head>

<body ng-app="healthy_product_app" ng-cloak>
  <div>
    <div ng-controller="navBar" ng-include="'./views/main-site-templates/navbar.html'"></div>
    <div ng-view></div>
    <div ng-include="'./views/main-site-templates/footer.html'"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>

  <!-- Slick -->
  <script src="bower_components/slick-carousel/slick/slick.js"></script>
  <script src="bower_components/angular-slick/dist/slick.js"></script>

</body>

</html>