<div class="container my-5 about-us">
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div class="">
                <slick ng-if="sliderImages" settings="slickConfig">
                    <div class="col-md-12" ng-repeat="image in sliderImages" style="margin-top: 1rem;">
                        <img ng-src="{{image.url}}" alt="" class="img-fluid img-thumbnail">
                    </div>
                </slick>
                <!-- <div ng-repeat="image in sliderImages">
                <img ng-src="{{image.url}}" alt="" class="img-fluid">
            </div> -->
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center">Σχετικά με εμάς</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam aliquam repellat obcaecati, omnis perferendis
                blanditiis, optio corporis vitae iste officia, doloremque quia quisquam assumenda vero commodi molestias
                fugit alias molestiae!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque expedita earum excepturi sint ratione repudiandae
                iste et non voluptas architecto consequatur aperiam, assumenda praesentium ullam! Ducimus qui voluptatem
                voluptatum fugit!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, eum. Obcaecati tempore, maiores adipisci eius
                cum voluptatibus ut porro saepe asperiores nisi suscipit culpa harum ipsa accusantium explicabo consequatur
                iusto!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, eum. Obcaecati tempore, maiores adipisci eius
                cum voluptatibus ut porro saepe asperiores nisi suscipit culpa harum ipsa accusantium explicabo consequatur
                iusto!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, eum. Obcaecati tempore, maiores adipisci eius
                cum voluptatibus ut porro saepe asperiores nisi suscipit culpa harum ipsa accusantium explicabo consequatur
                iusto!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, eum. Obcaecati tempore, maiores adipisci eius
                cum voluptatibus ut porro saepe asperiores nisi suscipit culpa harum ipsa accusantium explicabo consequatur
                iusto!
            </p>
        </div>
    </div>
</div>