<div class="container my-5 about-us">
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div class="">
               
                <slick ng-if="aboutUs.images" settings="slickConfig">
                    <div class="col-md-12" ng-repeat="image in aboutUs.images" style="margin-top: 1rem;">
                        <img ng-src="{{image.url}}" alt="" class="img-fluid img-thumbnail">
                    </div>
                </slick>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center">Σχετικά με εμάς</h3>
            <p>Aθανάσιος και Iωάννης Οικονόμου 
                Παραγωγοί 
                Παραλία Νιφοραιϊκων 
                25200 Κάτω Αχαϊα / Πάτρα 
                Τηλ. 697 28 28 629 Q 
                698 39 19 602 Whats’ up 
                
                e-mail: soulis1972@hotmail.com 
                
                
                
                Tα έξοδα αποστολής με ΚΤΕΛ είναι 7 Ευρώ (είναι η γρηγορότερη αποστολή ιδίως για γύρη και βασ. πολτό που είναι ευπαθή , αλλά θα πρέπει να πάτε στα ΚΤΕΛ να παραλάβετε το δέμα , και να έχετε βάλει από πριν το ποσό σε έναν από τους λογαριασμούς τραπέζης που βρίσκονται παρακάτω) 
                
                Tα έξοδα αποστολής με γενική ταχυδρομική για όλη την Ελλάδα είναι 
                10 ευρώ η απλή αποστολή , με αντικαταβολή 13 ευρώ. 
                
                
                Προσοχή κάποιες ιστοσελίδες έχουν κάνει παρανόμως επ ακριβώς αντιγραφή (copy paste) τα δικά μας κείμενα για τη γύρη και οι γυρεόκοκκοι που αναφέρουν ότι περιέχει η γύρη τους δεν αντιστοιχούν στη δικιά τους περιοχή αλλά στην περιοχή της Δυτικής Αχαϊας. 
                
                Πληροφορίες και ενημέρωση για φρέσκια γύρη , λόγω τεχνικού προβλήματος , μπορείτε να διαβάσετε 
                μόνο στα 500g . 
                
                
                
                
                ΤΡΑΠΕΖΑ ΠΕΙΡΑΙΩΣ 
                55 24 033 744 169 
                ΙΒΑΝ GR 22 0172 5240 0055 2403 3744 169 
                SWIFT BIC PIR B GR AA 
                
                
                ALPHA BANK 
                679 00 231 000 46 46 
                IBAN GR 27 0140 6790 6790 0231 000 46 46 
                
                
                EΘΝΙΚΗ ΤΡΑΠΕΖΑ 
                363 75 36 80 10 
                ΙΒΑΝ GR 82 0110 363 000 00 363 75 36 80 10 
                
                EUROBANK 
                IBAN: GR 470 260 670 000 0180 103 210 891 
                
                
                
                ΑΝΑΣΤΗΤΩ ὁ Θεός, καὶ διασκορπισθήτωσαν οἱ ἐχθροὶ αὐτοῦ, καὶ φυγέτωσαν ἀπὸ προσώπου αὐτοῦ οἱ μισοῦντες αὐτόν.ὡς ἐκλείπει καπνός, ἐκλιπέτωσαν· ὡς τήκεται κηρὸς ἀπὸ προσώπου πυρός, οὕτως ἀπολοῦνται οἱ ἁμαρτωλοὶ ἀπὸ προσώπου τοῦ Θεοῦ. 
                
                
                
                Ὡς τῶν Ἀποστόλων Πρωτόκλητος, καὶ τοῦ Κορυφαίου αὐτάδελφος, τῷ Δεσπότῃ τῶν ὅλων Ἀνδρέα ἱκέτευε, εἰρήνην τῇ οἰκουμένῃ δωρήσασθαι, καὶ ταῖς ψυχαῖς ἡμῶν τὸ μέγα ἔλεος.
                
                
            </p>
        </div>
    </div>
</div>