<div class="container inner-page">
    <form ng-submit="submitOrder(order)">
        <div class="row">
            <div class="col-md-12">
                <h3>Στοιχεία Χρέωσης</h3>
                <div class="form-group col-sm-6">
                    <label for="">Όνομα *</label>
                    <input type="text" class="form-control" placeholder="Ονομα" ng-model="order.customer.firstname" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Επώνυμο *</label>
                    <input type="text" class="form-control" placeholder="Επώνυμο" ng-model="order.customer.lastname" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="">Email *</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="order.customer.email" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Τηλέφωνο *</label>
                    <input type="text" class="form-control" placeholder="Τηλέφωνο" ng-model="order.customer.phone" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Χώρα *</label>
                    <input type="text" class="form-control" placeholder="Χώρα" ng-model="order.shipping.country" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Πόλη *</label>
                    <input type="text" class="form-control" placeholder="Πόλη" ng-model="order.shipping.city" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Διεύθυνση Αποστολής *</label>
                    <input type="text" class="form-control" placeholder="Διεύθυνση Αποστολής" ng-model="order.shipping.address" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Ταχυδρομικός Κώδικας *</label>
                    <input type="text" class="form-control" placeholder="Ταχυδρομικός Κώδικας" ng-model="order.shipping.zip" required>
                </div>
                <div>
                    <label for="">Σχόλια Παραγγελίας</label>
                    <textarea class="form-control" rows="3" placeholder="Περιγραφή" ng-model="order.comments"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
                <div class="box">

                    <h3>Τρόπος Αποστολής</h3>
                    <div ng-repeat="shipping in shippings track by $index">
                        <label>
                            <input type="radio" ng-model="order.shipping.company" ng-value="shipping.company" ng-change="changeShippingMethod(shipping)">
                            {{shipping.company}} {{shipping.price | number: 2}}€
                        </label>
                        <p ng-if="!!shipping.description && order.shipping.company === shipping.company">
                            {{shipping.description}}
                        </p>
                    </div>
                    <p>{{total}}</p>
                </div>
                <hr>
                <div class="box">
                    <h3>Τρόπος Πληρωμής</h3>
                    <label>
                        <input id="payOnDelivery" type="radio" name="payment-method" ng-model="order.payment" ng-value="{method: 'Αντικαταβολή', price: 3.00}" required> Αντικαταβολή - 3€</label>
                    <label>
                        <input id="bankPayment" type="radio" name="payment-method" ng-model="order.payment" ng-value="{method: 'Τραπεζική Κατάθεση', price: 0}" required>Τραπεζική Κατάθεση</label>
                    <div ng-if="order.payment.method === 'Τραπεζική Κατάθεση'">
                        <h5>Πειραιώς:</h5>
                            <input type="radio" name="payment-bank" required ng-model="order.payment.bank" value="Πειραιώς">
                            <li>Αρ. Λογαριασμού: 55 24 033 744 169</li>
                            <li>ΙΒΑΝ: GR 22 0172 5240 0055 2403 3744 169</li>
                            <li>SWIFT: BIC PIR B GR AA</li>
                        <h5>Alpha Bank</h5>
                            <input type="radio" name="payment-bank" required ng-model="order.payment.bank" value="Alpha Bank">
                            <li>Αρ. Λογαριασμού: 679 00 231 000 46 46</li>
                            <li>IBAN: GR 27 0140 6790 6790 0231 000 46 46</li>
                        <h5>Εθνική</h5>
                            <input type="radio" name="payment-bank" required ng-model="order.payment.bank" value="Εθνική">
                            <li>Αρ.Λογαριασμού: 3363 75 36 80 10</li>
                            <li>ΙΒΑΝ: GR 82 0110 363 000 00 363 75 36 80 10</li>
                    </div>
                </div>
                <!-- ./ BOX -->
            </div>

        </div>
        <!-- ./ ROW -->
        <hr>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn-fill">Ολοκλήρωση Παραγγελίας</button>
            </div>
        </div>
    </form>
</div>