<div class="container-fluid checkout-page inner-page">
    <form class="row" ng-submit="submitOrder(order)">
        <div class="col-lg-6">
            <h3>Στοιχεία:</h3>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Όνομα *</label>
                    <input type="text" class="form-control" placeholder="Όνομα" ng-model="order.customer.firstname" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Επώνυμο *</label>
                    <input type="text" class="form-control" placeholder="Επώνυμο" ng-model="order.customer.lastname" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="order.customer.email">
                </div>
                <div class="form-group col-md-6">
                    <label>Τηλέφωνο *</label>
                    <input type="text" class="form-control" placeholder="Τηλέφωνο" ng-model="order.customer.phone" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Χώρα *</label>
                    <input type="text" class="form-control" placeholder="Χώρα" ng-model="order.shipping.country" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Πόλη *</label>
                    <input type="text" class="form-control" placeholder="Πόλη" ng-model="order.shipping.city" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Διεύθυνση Αποστολής *</label>
                    <input type="text" class="form-control" placeholder="Διεύθυνση Αποστολής" ng-model="order.shipping.address" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Ταχυδρομικός Κώδικας</label>
                    <input type="text" class="form-control" placeholder="Ταχυδρομικός Κώδικας" ng-model="order.shipping.zip">
                </div>
                <div class="form-group col-md-6">
                    <label>Σχόλια Παραγγελίας</label>
                    <textarea class="form-control" rows="3" placeholder="Σχόλια" ng-model="order.comments"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">

                <div class="box col-md-12">
                    <h3>Τρόπος Αποστολής</h3>
                    <div ng-repeat="shipping in shippings track by $index">
                        <label>
                            <input type="radio" name="shipping-method" ng-model="order.shipping.company" ng-value="shipping.company" ng-change="changeShippingMethod(shipping)"
                                required> {{shipping.company}} - {{shipping.price | number: 2}}€
                        </label>
                        <p ng-if="!!shipping.description && order.shipping.company === shipping.company">
                            {{shipping.description}}
                        </p>
                    </div>
                </div>
                <div class="box col-md-12">
                    <h3>Τρόπος Πληρωμής</h3>
                    <div>
                        <label class="block-element" ng-repeat="payment in payments track by $index">
                            <input type="radio" name="payment-method" ng-model="order.payment" ng-value="payment" ng-change="changePaymentMethod(payment)"
                                required> {{payment.method}}
                            <span ng-if="!!payment.cost">{{payment.cost | number: 2}}€</span>
                        </label>
                        <br>
                    </div>
                    <div ng-if="order.payment.method === 'Τραπεζική Κατάθεση'">
                        <label>
                            <input type="radio" name="bank" value="Πειραιώς" ng-model="order.payment.bank" required>
                            <strong>Πειραιώς:</strong>
                        </label>
                        <ul>
                            <li>Αρ. Λογαριασμού: 55 24 033 744 169</li>
                            <li>ΙΒΑΝ: GR 22 0172 5240 0055 2403 3744 169</li>
                            <li>SWIFT: BIC PIR B GR AA</li>
                        </ul>
                        <label>
                            <input type="radio" name="bank" value="Alpha Bank" ng-model="order.payment.bank" required>
                            <strong>Alpha Bank:</strong>
                        </label>
                        <ul>
                            <li>Αρ. Λογαριασμού: 679 00 231 000 46 46</li>
                            <li>IBAN: GR 27 0140 6790 6790 0231 000 46 46</li>
                        </ul>
                        <label>
                            <input type="radio" name="bank" value="Εθνική" ng-model="order.payment.bank" required>
                            <strong>Εθνική:</strong>
                        </label>
                        <ul>
                            <li>Αρ.Λογαριασμού: 3363 75 36 80 10</li>
                            <li>ΙΒΑΝ: GR 82 0110 363 000 00 363 75 36 80 10</li>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col"> </th> -->
                        <th scope="col">Προϊόν</th>
                        <th scope="col" class="text-center">Ποσότητα</th>
                        <th scope="col" class="text-right">Τιμή Μονάδας</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in cart track by $index">
                        <th scope="row">
                            <a ng-href="#/product/{{product.slug}}">{{product.name}}</a>
                        </th>
                        <td class="text-center" style=" width: 145px;">x{{product.amount}}</td>
                        <td class="text-right" style=" width: 145px;">{{product.salesPrice || product.price | number: 2}}€</td>

                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">
                            <span ng-if="
                                !order.payment.method || 
                                !order.shipping.company">
                                Παρακαλώ επιλέξτε τρόπο πληρωμής και τρόπο αποστολής
                            </span>
                            <div ng-if="
                                !!order.payment.method &&
                                !!order.shipping.company">
                                <strong>Σύνολο</strong>
                                <span>{{total | number: 2}}€</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <hr>
            <a href="/#cart" class="btn-fill">Επιστροφή Στο Καλάθι</a>
            <button type="submit" class="btn-fill float-right">Ολοκλήρωση Παραγγελίας</button>
            <div class="float-right" vc-recaptcha key="'6Leb4kMUAAAAAJopyh3PIn-SrM1S541VDQlsQRZQ'"></div>
        </div>
    </form>

</div>