<div class="container inner-page product-page">
    <div class="row heading-row">
        <div class="col-md-4">
            <img src="{{product.featuredImage}}" err-src="http://localhost:4000/public/img/error-image.jpg" alt="" class="img-fluid mb-2">
            <div class="row image-row">
                <div ng-repeat="image in product.images" class="col-md-4" ng-if="image != product.featuredImage">
                    <img ng-src="{{image}}" alt="" class="img-fluid">
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h3>Title</h3>
            <p>
                {{product.name}}
            </p>
            <span class="price-tag">Τιμή:</span>
            <span ng-if="!product.salesPrice">
                <span class="price-num"> {{product.price | number: 2}}€</span>
            </span>
            <span ng-if="!!product.salesPrice">
                <span class="normal-price">{{product.price | number: 2}}€</span>
                <span class="sales-price">{{product.salesPrice | number: 2}}€</span>
            </span>
            <p>
                <button type="button" class="quantity-btn qty-test" ng-click="decreaseAmount()">-</button>
                <input class="qty quantity-input qty-test" ng-model="amount" type="number" min="1" />
                <button type="button" class="quantity-btn qty-test" ng-click="increaseAmount()">+</button>

                <button class="btn-fill add-to-cart" ng-click="addToCart(product)">Προσθήκη στο καλάθι</button>
                <ui-message message="message" dur="3000"></ui-message>
            </p>
        </div>
    </div>

    <div class="section-padding" ng-include="'./views/product-page-navs.html'"></div>

    <div class="row">
        <div class="col-12">
            <slick arrows="true" dots="true" infinite="true" speed=300 slides-to-show=3 touch-move="false" slides-to-scroll=1 class="slider one-time">
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
            </slick>
        </div>
    </div>
</div>