<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">Αναλυτική περιγραφή προιόντος</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <p> Tα έξοδα αποστολής με κούρριερ για όλη την Ελλάδα είναι 5€ , από 0 μέχρι 2 κιλά. Πάνω από τα 2 κιλά η χρέωση είναι
            1€ ανά κιλό. Γύρη ΔΕΝ αποστέλλουμε με αντικαταβολή.</p>

        <p>Φρέσκια γύρη ή νωπή γύρη σημαίνει ότι μόλις ο μελισσοκόμος τη συλλέγει κάθε απόγευμα από τα μελίσσια την αποθηκεύει
            ΑΜΕΣΩΣ στην ΚΑΤΑΨΥΞΗ (μέσα σε 100% βαμβακερές σακκούλες) έτσι ώστε να μη χάσει κανένα από τα 100 και πλέον πολύτιμα
            ΕΝΖΥΜΑ τα οποία δρούν σαν μία ΒΟΜΒΑ ζωντάνιας,νεότητας και μακροζωϊας για τον ανθρώπινο οργανισμό.Η διάθεση της
            στους καταναλωτές πρέπει να γίνεται μετά από παραμονή τουλάχιστον 48 ωρών στην κατάψυξη, έτσι ώστε να σταθεροποιείται
            το ενζυμικό περιβάλλον , να απενεργοποιούνται όσο το δυνατόν περισσότερο οι αλλεργιογόνοι παράγοντες και να θανατώνονται
            οι τυχον μικροοργανισμοί. </p>

        <p>Από του Ευαγγελισμού και μετά , ευαγγελίζεται και ολόκληρη η φύση το πιο κορυφαίο και ανώτερο προϊόν που μπορεί να
            παράξει. Από περίπου 25 Μάρτη μέχρι 25 Μάη καθε μέρα το απόγευμα μαζεύω τη γύρη από τα μελίσσια και τη βάζω κατευθείαν
            κατάψυξη για να διατηρηθεί μαλακιά και νωπή. Όταν θα παραγγείλετε και η αποστολή θα διαρκέσει 24-48 ώρες το πολύ
            , εκτός κατάψυξης, θα ξεκινήσει σταδιακά λόγω απόψυξης η λεγόμενη " οξυγαλακτική ζύμωση " , κατά τη διάρκεια
            της οποίας "καίγονται" τα σάκχαρα της γύρης και παράγονται φυσικές αντιβιοτικές ουσίες που ενισχύουν το ανοσοποιητικό
            σύστημα και ευεργετούν τον οργανισμό με παρόμοιο τρόπο όπως το κεφίρ , το γιαούρτι κ.α. Αν όμως μείνει ακόμα
            περισσότερο εκτός κατάψυξης θα αρχίσουν να μειώνονται δραματικά τα ένζυμα , και θα αρχίσει σιγά σιγά να ξινίζει
            , όπως ακριβώς και το κεφίρ ή το γιαούρτι (ρίχνουμε το γάλα στη μαγια του κεφίρ και το αφήνουμε 24 ώρες περίπου
            μεχρι να ολοκληρωθεί η οξυγαλακτική ζύμωση , δηλ. τα ζάχαρα του γάλακτος,η λακτόζη , μετατρέπονται σε γαλακτικό
            οξύ και στη συνέχεια το βάζουμε ψυγείο). Αν λοιπόν ο μελισσοκόμος π.χ. μαζέψει τη γύρη κάθε 2η μέρα από το μελίσσι
            η την απλώσει μερικές μέρες για να στεγνώσει , τότε με τη μεταφορά θα μειωθεί σημαντικά η ποιότητά της. </p>

        <p>Όταν οι μέλισσες συλλέγουν γύρη ή νέκταρ από καλλιέργειες που έχουν ραντιστεί με φυτοφάρμακα , πεθαίνουν πριν ακόμα
            εισέλθουν στην κυψέλη. Τέτοια ατυχήματα έχουν αναφερθεί σε μονοκαλλιέργειες ,στα βαμβάκια,στις πορτοκαλιές κ.α.
            όπου έχουν καταστραφεί ολόκληρα μελισσοσμήνη. Στη Γερμανική βιβλιογραφία αναφέρεται πείραμα στη βιομηχανική περιοχή
            του Ντίσελντορφ ( από τις πιο μολυσμένες περιοχές της Ευρώπης) όπου τοποθέτησαν μελισσοσμήνη.Παραδόξως η επιβάρυνση
            στα προιόντα των μελισσών ήταν μηδαμινή. </p>
    </div>
    
       
</div>
    
      
