<div class="container inner-page product-listing">
    <div class="row heading-row">
        <div class="col-12">
            <h3 class="text-center">Προϊόντα</h3>
        </div>
    </div>
    <!-- <div class="row">

    </div> -->
    <div class="row product-row">
        <div class="col-lg-4 col-md-6 col-sm-12 product-col" ng-repeat="x in products">
            <a href="#/product-page/">
                <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
            </a>
            <div class="product-desc">
                <p class="product-title">
                    <span style="    display: inline-block;
                    max-width: 80%;">{{x.title}}</span>
                    <span class="float-right">{{x.ml}}</span>
                </p>
                <p>
                    <span class="price-tag">Τιμή:</span>
                    <span ng-show="x.salesPrice === '' || x.salesPrice === undefined">
                        <span class="price-num"> {{x.price}}€</span>
                    </span>
                    <span ng-show="x.salesPrice != '' && x.salesPrice !== undefined">
                        <span class="normal-price">{{x.price}}€</span>
                        <span class="sales-price">{{x.salesPrice}}€</span>
                    </span>
                </p>
            </div>
            <button ng-click="addToCart($index);" class="btn-fill">Add to cart</button>
            <hr>
        </div>
        <!-- <div class="col-sm-4">
            <a href="#/product-page">
                <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
            </a>
            <div class="product-desc">
                <p class="product-title">Μελι
                    <span class="float-right">300ml</span>
                </p>
                <p>
                    <span class="price-tag">Τιμή:</span>
                    <span class="price-num"> 100€</span>
                </p>
            </div>
            <button class="btn-fill">Add to cart</button>
        </div>
        <div class="col-sm-4">
            <a href="#/product-page">
                <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
            </a>
            <div class="product-desc">
                <p class="product-title">Μελι
                    <span class="float-right">300ml</span>
                </p>
                <p>
                    <span class="price-tag">Τιμή:</span>
                    <span class="normal-price">100€</span>
                    <span class="sales-price">80€</span>
                </p>
            </div>
            <button class="btn-fill">Add to cart</button>
        </div>
        <div class="col-sm-4">
            <a href="#/product-page">
                <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
            </a>
            <div class="product-desc">
                <p class="product-title">Μελι
                    <span class="float-right">300ml</span>
                </p>
                <p>
                    <span class="price-tag">Τιμή:</span>
                    <span class="price-num"> 100€</span>
                </p>
            </div>
            <button ng-click="addToCart" class="btn-fill">Add to cart</button>
        </div> -->
    </div>
    <div class="row">
        <!-- <div ng-repeat="x in tasks">
            {{x.title}}
            <button ng-click="addToTasksDone($index);" class="btn-fill">Add to cart</button>
        </div> -->
        <div class="col-12">
            <div ng-repeat="x in productsDone track by $index">
                {{x.title}}, {{x.ml}}
            </div>
        </div>
    </div>
</div>


<!-- <button class="button" ng-class="{'active': showMessage}" ng-click="activeButton()" type="button">Click Me to Toggle Class</button>
<div ng-class="{'class-name': clicked}" ng-click="clicked = !clicked">test</div> -->