<div class="container inner-page product-page">
    <div class="row heading-row">
        <div class="col-md-4">
            <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h3>Title</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque alias fuga sunt reprehenderit cupiditate, quibusdam
                at accusantium eligendi aspernatur! Veniam cumque eligendi voluptatum magnam illo facilis tenetur odit adipisci
                doloribus.
            </p>
            <p>
                <form id='myform'>
                    <button ng-click="decrement()" class="quantity-btn qty-test" ng-disabled="qty<=1">-</button>
                    <input ng-model="qty" type='text' name='quantity' class="qty quantity-input qty-test" min="1" oninput="this.value=this.value.slice(0,this.maxLength||1/1);this.value=(this.value   < 1) ? (1/1) : this.value;"
                    />
                    <button ng-click="increment()" class="quantity-btn qty-test">+</button>

                    <button class="btn-fill add-to-cart">Προσθήκη στο καλάθι</button>
                </form>

            </p>
        </div>
    </div>

    <div class="section-padding" ng-include="'./views/product-page-navs.html'"></div>

    <div class="row">
        <div class="col-12">
            <slick arrows="true" dots="true" infinite="true" speed=300 slides-to-show=3 touch-move="false" slides-to-scroll=1 class="slider one-time">
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
            </slick>
        </div>
    </div>
</div>