<div class="container inner-page product-page">
    <div class="row heading-row">
        <div class="col-md-4">
            <img src="{{product.featuredImage}}" err-src="{{url}}/public/img/error-image.jpg" alt="" class="img-fluid mb-2">
            <div class="row image-row">
                <div ng-repeat="image in product.images" class="col-md-4" ng-if="image != product.featuredImage">
                    <img ng-src="{{image}}" alt="" class="img-fluid">
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h3>{{product.name}}</h3>
            <p>
                {{product.shortDescription}}
            </p>
            <span class="price-tag">Τιμή:</span>
            <span ng-if="!product.salesPrice">
                <span class="price-num"> {{product.price | number: 2}}€</span>
            </span>
            <span ng-if="!!product.salesPrice">
                <span class="normal-price">{{product.price | number: 2}}€</span>
                <span class="sales-price">{{product.salesPrice | number: 2}}€</span>
            </span>
            <p>
                <button type="button" class="quantity-btn qty-test" ng-click="decreaseAmount()">-</button>
                <input class="qty quantity-input qty-test" ng-model="amount" type="number" min="1" />
                <button type="button" class="quantity-btn qty-test" ng-click="increaseAmount()">+</button>

                <button class="btn-fill add-to-cart" ng-click="addToCart(product)">Προσθήκη στο καλάθι</button>
                <success-message message="successMsg" dur="3000"></success-message>
            </p>
        </div>
    </div>

    <div ng-if="!!product.description" class="section-padding">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" role="tab" aria-controls="pills-home"
                            aria-selected="true">Αναλυτική περιγραφή προιόντος</a>
                    </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{product.description}}
                </div>    
            </div>
    </div>

    <div class="row">
        <div class="col-12">
            <slick arrows="true" dots="true" infinite="true" speed=300 slides-to-show=3 touch-move="false" slides-to-scroll=1 class="slider one-time">
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
                <div class="slick-image-wrapper">
                    <img src="http://via.placeholder.com/600x600" alt="" class="img-fluid">
                </div>
            </slick>
        </div>
    </div>
</div>