<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">ΕΞΟΔΑ ΑΠΟΣΤΟΛΗΣ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false">ΟΔΗΓΙΕΣ ΣΥΝΤΗΡΗΣΗΣ - ΚΑΤΑΝΑΛΩΣΗΣ</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Πίνακες</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" data-toggle="pill" data-target="#table-aminoksea">ΠΙΝΑΚΑΣ ΑΜΙΝΟΞΕΩΝ </a>
            <a class="dropdown-item" data-toggle="pill" data-target="#table-vitamines">ΠΙΝΑΚΑΣ ΒΙΤΑΜΙΝΩΝ </a>
            <a class="dropdown-item" data-toggle="pill" data-target="#table-enzuma">ΠΙΝΑΚΑΣ ΕΝΖΥΜΩΝ </a>

            <a class="dropdown-item" data-toggle="pill" data-target="#table-metelikwn">ΠΙΝΑΚΑΣ ΜΕΤΑΛΛΙΚΩΝ – ΑΝΟΡΓΑΝΩΝ ΣΤΟΙΧΕΙΩΝ </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="pill" data-target="#sigentrotikos-table">ΣΥΓΚΕΝΤΡΩΤΙΚΟΣ ΠΙΝΑΚΑΣ - Θετικός επηρεασμός της Γύρης </a>





        </div>
    </li>
   
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <p> Tα έξοδα αποστολής με κούρριερ για όλη την Ελλάδα είναι 5€ , από 0 μέχρι 2 κιλά. Πάνω από τα 2 κιλά η χρέωση είναι
            1€ ανά κιλό. Γύρη ΔΕΝ αποστέλλουμε με αντικαταβολή.</p>

        <p>Φρέσκια γύρη ή νωπή γύρη σημαίνει ότι μόλις ο μελισσοκόμος τη συλλέγει κάθε απόγευμα από τα μελίσσια την αποθηκεύει
            ΑΜΕΣΩΣ στην ΚΑΤΑΨΥΞΗ (μέσα σε 100% βαμβακερές σακκούλες) έτσι ώστε να μη χάσει κανένα από τα 100 και πλέον πολύτιμα
            ΕΝΖΥΜΑ τα οποία δρούν σαν μία ΒΟΜΒΑ ζωντάνιας,νεότητας και μακροζωϊας για τον ανθρώπινο οργανισμό.Η διάθεση της
            στους καταναλωτές πρέπει να γίνεται μετά από παραμονή τουλάχιστον 48 ωρών στην κατάψυξη, έτσι ώστε να σταθεροποιείται
            το ενζυμικό περιβάλλον , να απενεργοποιούνται όσο το δυνατόν περισσότερο οι αλλεργιογόνοι παράγοντες και να θανατώνονται
            οι τυχον μικροοργανισμοί. </p>

        <p>Από του Ευαγγελισμού και μετά , ευαγγελίζεται και ολόκληρη η φύση το πιο κορυφαίο και ανώτερο προϊόν που μπορεί να
            παράξει. Από περίπου 25 Μάρτη μέχρι 25 Μάη καθε μέρα το απόγευμα μαζεύω τη γύρη από τα μελίσσια και τη βάζω κατευθείαν
            κατάψυξη για να διατηρηθεί μαλακιά και νωπή. Όταν θα παραγγείλετε και η αποστολή θα διαρκέσει 24-48 ώρες το πολύ
            , εκτός κατάψυξης, θα ξεκινήσει σταδιακά λόγω απόψυξης η λεγόμενη " οξυγαλακτική ζύμωση " , κατά τη διάρκεια
            της οποίας "καίγονται" τα σάκχαρα της γύρης και παράγονται φυσικές αντιβιοτικές ουσίες που ενισχύουν το ανοσοποιητικό
            σύστημα και ευεργετούν τον οργανισμό με παρόμοιο τρόπο όπως το κεφίρ , το γιαούρτι κ.α. Αν όμως μείνει ακόμα
            περισσότερο εκτός κατάψυξης θα αρχίσουν να μειώνονται δραματικά τα ένζυμα , και θα αρχίσει σιγά σιγά να ξινίζει
            , όπως ακριβώς και το κεφίρ ή το γιαούρτι (ρίχνουμε το γάλα στη μαγια του κεφίρ και το αφήνουμε 24 ώρες περίπου
            μεχρι να ολοκληρωθεί η οξυγαλακτική ζύμωση , δηλ. τα ζάχαρα του γάλακτος,η λακτόζη , μετατρέπονται σε γαλακτικό
            οξύ και στη συνέχεια το βάζουμε ψυγείο). Αν λοιπόν ο μελισσοκόμος π.χ. μαζέψει τη γύρη κάθε 2η μέρα από το μελίσσι
            η την απλώσει μερικές μέρες για να στεγνώσει , τότε με τη μεταφορά θα μειωθεί σημαντικά η ποιότητά της. </p>

        <p>Όταν οι μέλισσες συλλέγουν γύρη ή νέκταρ από καλλιέργειες που έχουν ραντιστεί με φυτοφάρμακα , πεθαίνουν πριν ακόμα
            εισέλθουν στην κυψέλη. Τέτοια ατυχήματα έχουν αναφερθεί σε μονοκαλλιέργειες ,στα βαμβάκια,στις πορτοκαλιές κ.α.
            όπου έχουν καταστραφεί ολόκληρα μελισσοσμήνη. Στη Γερμανική βιβλιογραφία αναφέρεται πείραμα στη βιομηχανική περιοχή
            του Ντίσελντορφ ( από τις πιο μολυσμένες περιοχές της Ευρώπης) όπου τοποθέτησαν μελισσοσμήνη.Παραδόξως η επιβάρυνση
            στα προιόντα των μελισσών ήταν μηδαμινή. </p>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <p> Η νωπή γύρη διατηρεί αναλλοίωτα όλα τα πολύτιμα συστατικά της μόνο στην κατάψυξη (τα βάζα δε σπάνε στην κατάψυξη),
            μέσα στην οποία μπορεί να καταναλωθεί και ύστερα από ένα χρόνο. Η ημιαποξηραμένη (που συντηρείται στο ψυγείο)
            και η αποξηραμένη γύρη (η οποία δε χρειάζεται ψυγείο) είναι λόγω της απουσίας των ενζύμων καθώς και άλλων πολύτιμων
            συστατικών , μικρότερης βιολογικής και θρεπτικής αξίας. Η κατανάλωση της γύρης δεν ενδείκνυται γιά άτομα πού
            εκδηλώνουν ισχυρές αλλεργικές εκδηλώσεις στο προιόν αυτό. Ενώ αντίθετα βοηθάει να ξεπεραστούν ασθενείς αλλεργικές
            εκδηλώσεις από διάφορες άλλες αιτίες όπως π.χ. αλλεργική ρινίτιδα. Η διατήρηση μιάς καλής φυσικής σωματικής και
            πνευματικής κατάστασης , επιβάλλει την ημερήσια κατανάλωση επαρκούς ποσότητας γύρης , λόγω της υποβαθμισμένης
            διατροφής του σημερινού ανθρώπου. «Αν θέλετε να ζήσετε και να γεράσετε αξιοπρεπώς τρώτε κάθε μέρα γύρη» </p>

        <p>Ελάχιστη ημερήσια κατανάλωση: 4 κουταλάκια του γλυκού / Συνιστώμενη δόση : 3 κουταλάκια το πρωί και 3 το μεσημέρι
        </p>

        <p>Συνιστάται να καταναλώνεται αναμεμιγμένη σε μισό ποτήρι χυμού ή νερού. Όταν καταναλώνετε με άδειο στομάχι πριν το
            φαγητό επιταχύνει τις καύσεις και χάνουμε βάρος καίγοντας περιττά λίπη. Ενώ όταν καταναλώνετε μετά το φαγητό
            αυξάνει τη μυϊκή μάζα του σώματος.Γι αυτό αποτελεί το άριστο φυσικό συμπλήρωμα διατροφής για τους αθλητές. Ξεκινάτε
            με ένα κουταλάκι την πρώτη μέρα , τη δεύτερη με 2 κουταλάκια κλπ </p>

        <p>Η γύρη είναι το σπερματοζωάριο των λουλουδιών. To γενετικό υλικό ( DNA ) της ελληνικής φύσης , της αρχαίας Ελλάδας!
            Δηλαδή " ΓΥΡΗ=ΖΩΗ " </p>

        <p>Συλλέγεται από τις μέλισσες και είναι η πρωτεϊνούχος τροφή τους. Παράλληλα είναι και το καλύτερο φυσικό συμπλήρωμα
            διατροφής για τον άνθρωπο. Είναι η πλουσιότερη φυσική τροφή σε πρωτεΐνες, βιταμίνες, αμινοξέα, φυσικές ορμόνες,
            ένζυμα, αυξητικές ουσίες, φυσικά αντιβιοτικά, μεταλλικά και ανόργανα στοιχεία και άλλα χρήσιμα συστατικά για
            τη διατροφή μας. Μέχρι τη δεκαετία του 70 όλοι οι αθλητές στους ολυμπιακούς αγώνες χρησιμοποιούσαν τη γύρη ώς
            φυσικό "αναβολικό" , καθώς ρίχνει σε σημαντικό βαθμό τους παλμούς της καρδιάς και έτσι αυξάνεται η αντοχή του
            αθλητή. Περιέχει ποσοστιαία 5 φορές περισσότερες πρωτεΐνες και 7,5 φορές περισσότερο σίδηρο από το μοσχαρίσιο
            κρέας, έχει μεγαλύτερη περιεκτικότητα σε ασβέστιο από όλες τις τροφές, έχει 20 φορές περισσότερη καροτίνη από
            το καρότο και αρκετές φορές περισσότερη βιταμίνη Α από ότι έχει το λάχανο. Περιέχει όλα τα απαραίτητα αμινοξέα
            τα οποία ο ανθρώπινος οργανισμός χρειάζεται και δε μπορεί να συνθέσει</p>
    </div>
       
    </div>
    <div class="tab-pane fade" id="table-aminoksea" role="tabpanel" aria-labelledby="table-aminoksea-tab">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>1 α – Αμινοβουτυρικό οξύ </li>
                    <li>2 Αλανίνη</li>
                    <li>3 Αργινίνη</li>
                    <li>4 Ασπαραγονικό οξύ</li>
                    <li>5 Ασπαρτικό οξύ</li>
                    <li>6 Βαλίνη</li>
                    <li>7 Γλουταμινικό οξύ</li>
                    <li>8 Γλυκίνη</li>
                    <li>9 Θρεονίνη</li>
                    <li>10 Ισολευκίνη</li>
                    <li>11 Ιστιδίνη</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>12 Κυστίνη</li>
                    <li>13 Λευκίνη</li>
                    <li>14 Λυσίνη</li>
                    <li>15 Μεθειονίνη</li>
                    <li>16 Προλίνη</li>
                    <li>17 Σερίνη</li>
                    <li>18 Τρυπτοφάνη</li>
                    <li>19 Τυροσίνη</li>
                    <li>20 Υδροξυπρολίνη</li>
                    <li>21 Φαινυλαλανίνη</li>
                </ul>
            </div>
        </div>
        <p>30 gr γύρης την ημέρα ικανοποιούν τις ανάγκες ενός ενήλικα σε αμινοξέα.35 gr γύρης περιέχουν τόσες πρωτεΐνες και
            αμινοξέα όσο και 180 gr μοσχαρίσιο κρέας ή 7 αυγά.Περιέχει όμως και πολλές βιταμίνες.</p>
    </div>
    <div class="tab-pane fade" id="table-vitamines" role="tabpanel" aria-labelledby="table-vitamines-tab">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>1 Θειαμίνη Β1</li>
                    <li>2 Ριβοφλαβίνη Β2</li>
                    <li>3 Παντοθενικό οξύ Β3</li>
                    <li>4 Νιασίνη Β5 (αγχολυτική βιταμίνη)</li>
                    <li>5 Πυριδοξίνη Β6</li>
                    <li>6 Φολικό οξύ Bc</li>
                    <li>7 Βιοτίνη Η</li>
                    <li>8 Ρουτίνη R (τονώνει την καρδιά, προφυλάσσει από εγκεφαλικά)</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>9 Ασκορβικό οξύ C</li>
                    <li>10 Αξηροφθόλη A</li>
                    <li>11 Καλσιφερόλη D</li>
                    <li>12 Τοκοφερόλη E</li>
                    <li>13 Νιασίνη PP</li>
                    <li>14 Αντιαιμορραγική Κ</li>
                    <li>15 Κοβαλαμίνη Β12</li>
                </ul>
            </div>
        </div>
        <p>Η υψηλή περιεκτικότητά της σε ρουτίνη (βιταμίνη R) τονώνει την καρδιά και χαμηλώνει τους ρυθμούς της, αυξάνει την
            ανθεκτικότητα, διατηρώντας την ελαστικόητα των τριχοειδών αγγείων, προφυλάσσοντας έτσι τον οργανισμό από εγκεφαλικές
            αιμορραγίες και οφθαλμικές ρήξεις.Περιέχει γοναδοτρόπες ορμόνες, που είναι οι βιολογικά δραστικές ουσίες που
            δρουν απ' ευθείας στους γενετικούς αδένες, τόσο του άρρενος όσο και του θήλεος. Η σπερματογένεση στον άνδρα και
            η φυσιολογική εξέλιξη των ωοθυλακίων στη γυναίκα καθορίζονται σημαντικά από την παρουσία αυτών των ορμονών. Αυξάνει
            τη σεξουαλική ικανότητα και γονιμότητα του άνδρα και της γυναίκας.</p>
        <p>Ύστερα από χορήγηση γύρης, σε άντρες που θεωρούνταν στείροι, παρατηρήθηκε ότι ένα ποσοστό από αυτούς κατάφερε να
            αφήσει έγκυο τη γυναίκα τους.Περιέχει φυσικές χρωστικές ουσίες όπως η ξανθίνη και η καροτίνη.Η μεγάλη όμως, αξία
            της γύρης έγκειται στα ένζυμα που περιέχει και τα οποία χρειάζεται ο οργανισμός για ολες τις λειτουργίες του.Ας
            σημειωθεί ότι η διατροφή του σημερινού ανθρώπου είναι πολύ φτωχή σε ένζυμα , αν σκεφτούμε ότι αυτά υπάρχουν στο
            κεφίρ ,στο ξυνόγαλο,στο γιαούρτι, στο φρέσκο γάλα, στο γνήσιο μέλι και λιγότερο στα φρούτα.Στην ιστοσελίδα του
            Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης , www.melinet.gr , αναφέρεται ότι η γύρη περιέχει πάνω από 100 ένζυμα
            , ονομαστικά όμως βρήκαμε μόνο 20 , τα οποία και παραθέτουμε στον παρακάτω πίνακα.</p>
    </div>
    <div class="tab-pane fade" id="table-enzuma" role="tabpanel" aria-labelledby="table-enzuma-tab">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>1 Αμυλάση</li>
                    <li>2 Καταλάση</li>
                    <li>3 Κοζυμάση</li>
                    <li>4 Συστήματα κυτοχρωμάτων</li>
                    <li>5 Διαφοράση</li>
                    <li>6 Διαστάση</li>
                    <li>7 Λακτική δευδρογενάση</li>
                    <li>8 Πεπτάση</li>
                    <li>9 Φωσφατάση</li>
                    <li>10 Σακχαράση</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>11 Σακινική δευδρογενάση</li>
                    <li>12 Συνεζυμάση</li>
                    <li>13 Ιμβερτάση</li>
                    <li>14 Τρυψίνη</li>
                    <li>15 Τρανσφεράση</li>
                    <li>16 Υδρολάση</li>
                    <li>17 Λυάση</li>
                    <li>18 Λιγάση</li>
                    <li>19 Ισομεράση</li>
                    <li>20 Πεψίνη</li>
                </ul>
            </div>
        </div>
        <p>Περιέχει ακόρεστα λίπη που σε συνδυασμό με τις διάφορες βιταμίνες προστατεύουν από την αρτηριοσκλήρυνση.Οι υδατάνθρακες
            που περιέχει γλυκόζη, φρουκτόζη, πεντογάνες, δεξτρίνες, άμυλο, κυτταρίνη, πολλενίνη βοηθούν τον οργανισμό να
            κάψει τα λίπη των τροφών.Μεγάλη είναι η αξία της γύρης όσο αναφορά και στα σπάνια μεταλλικά και ανόργανα ιχνοστοιχεία
            που περιέχει τα οποία δρουν ως καταλύτες για την μετατροπή της τροφής σε αφομοιώσιμη ύλη.</p>
    </div>
    <div class="tab-pane fade" id="table-metelikwn" role="tabpanel" aria-labelledby="table-metelikwn-tab">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>1 Κάλιο</li>
                    <li>2 Μαγνήσιο</li>
                    <li>3 Ασβέστιο</li>
                    <li>4 Σίδηρος</li>
                    <li>5 Πυρίτιο</li>
                    <li>6 Φώσφορος</li>
                    <li>7 Θείο</li>
                    <li>8 Χλώριο</li>
                    <li>9 Μαγγάνιο</li>
                    <li>10 Χαλκός</li>
                    <li>11 Ψευδάργυρος</li>
                    <li>12 Μόλυβδος</li>
                    <li>13 Σελήνιο (για το δέρμα)</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>14 Χαλαζίας</li>
                    <li>15 Νάτριο</li>
                    <li>16 Αργίλιο</li>
                    <li>17 Βόριο</li>
                    <li>18 Ιώδιο</li>
                    <li>19 Νικέλιο</li>
                    <li>20 Τιτάνιο</li>
                    <li>21 Χρώμιο</li>
                    <li>22 Κασσίτερος</li>
                    <li>23 Φθόριο</li>
                </ul>
            </div>
        </div>
        <p>Περιέχει φυσικές αντιβιοτικές ουσίες οι οποίες προφυλάσσουν τον οργανισμό από διάφορα μικρόβια όπως αυτό της Σαλμονέλας.Από
            το 18ο αιώνα χρησιμοποιείται στη διαιτητική.Βελτιώνει την κατάσταση ατόμων που έχουν ήπιες αλλεργικές εκδηλώσεις
            και βοηθά ώστε να αποκτήσουν βαθμιαία αντίσταση (ανοσοποίηση). Η γύρη που μαζεύουν οι μέλισσες είναι εντομόφιλη.
            Συνήθως η ανεμόφιλη γύρη προκαλεί αλλεργίες.Παρ' όλ' αυτά οι μέλισσες προσθέτουν στη γύρη που μαζεύουν σάλιο
            και νέκταρ πράγμα που εξουδετερώνει σχεδόν κάθε αλλεργικό παράγοντα.Η γύρη έχει ένα καταπληκτικό και καλά αποδειγμένο
            αποτέλεσμα πάνω σε κάθε αθλητική δραστηριότητα λόγω των πολλών και σπανίων ιχνοστοιχείων που περιέχει.Ένας αθλητής
            παίρνοντας γύρη καλύπτει άνετα στην προπόνηση 50km αντί 30km υπό κανονικές συνθήκες και με λιγότερες από 5.000
            θερμίδες.
        </p>
        <p>Λόγω των φυσικών αντιβιοτικών ουσιών που περιέχει προφυλάσσει από κρυολογήματα και γρίπη. Βοηθά στα γυναικεία προβλήματα
            εμμηνόρροιας, εμμηνόπαυσης (περίοδος κλιμακτηρίου).Αυξάνει τις νοητικές ικανότητες, προσφέρει ευεξία και ευφορία.
            Αποτελεί άριστο φυσικό αναζωογονητικό για οποιαδήποτε περίπτωση καταπτώσεως του οργανισμού. Είναι ιδανικό συμπλήρωμα
            διατροφής για περιπτώσεις κοπώσεων.Ενισχύει τη συστολή της καρδιάς και έχει διουρητική δράση. Βοηθά στη διανοητική
            λειτουργία και αυξάνει την αυτοπεποίθηση.Βελτιώνει θεαματικά επίμονες δυσκοιλιότητες, διάρροιες, εντεροκολίτιδες,
            που οφείλονται σε ακανόνιστη ανάπτυξη χλωρίδας στο έντερο ή και άλλα παθογόνα μικρόβια.Εκπληκτικά είναι όμως
            τα αποτελέσματα της χορήγησης γύρης στα παιδιά. Αυξάνει τον αριθμό των ερυθρών αιμοσφαιρίων κατά 30% και την
            αιμοσφαιρίνη κατά 15%. Δυναμώνει τον οργανισμό των παιδιών για αντίσταση στις αρρώστιες του χειμώνα και επιπλέον
            βοηθάει για συγκέντρωση στα σχολικά μαθήματα.</p>
        <p>Η γύρη όμως ενδείκνυται και για τα διανοητικά καθυστερημένα παιδιά ή και τα καθυστερημένα στην ανάπτυξη.Όσον αφορά
            τον διαβήτη αναφέρονται περιπτώσεις μεγάλης βελτίωσης με χορήγηση γύρης.Στρες, άγχος, κατάθλιψη, αϋπνία, τάση
            για αμνησία, καταπολεμούνται άριστα με τη γύρη.Για το πάρκινσον αναφέρονται αποτελέσματα βελτίωσης με τη χρήση
            γύρης.Περιέχει βιολογικά ενεργές ουσίες που βελτιώνουν τη φυσική κατάσταση, και το σφρίγος του ανθρώπου, επηρεάζουν
            θετικά το μεταβολισμό του νερού, ελέγχουν την όρεξη, την απόθεση λίπους στον οργανισμό, τη λειτουργία των ωοθηκών
            και του θυρεοειδούς αδένα.Οι υγιέστεροι και περισσότερο μακρόβιοι άνθρωποι του κόσμου είναι οι κάτοικοι των Ιμαλαΐων,
            του Καυκάσου στη Ρωσία και των βουνών Βικαμπόμπα στο Εκουαδόρ, οι οποίοι χρησιμοποιούν τη γύρη στο καθημερινό
            τους διαιτολόγιο.</p>
    </div>
    <div class="tab-pane fade" id="sigentrotikos-table" role="tabpanel" aria-labelledby="sigentrotikos-table-tab">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>1 Κρυολογήματα – Γρίπη</li>
                    <li>2 Αλλεργικό συνάχι – Άσθμα – Αλλεργίες</li>
                    <li>3 Αθλητές – Αθλητικές δραστηριότητες</li>
                    <li>4 Προστάτης – Προστατίτιδα</li>
                    <li>5 Ρευματισμοί – Αρθρίτιδες</li>
                    <li>6 Τριχόπτωση – Χρώμα, υγεία μαλλιών</li>
                    <li>7 Δέρμα – Ακμή προσώπου – Εκζέματα</li>
                    <li>8 Παθήσεις από ακτινοβολίες – Ραδιενέργεια</li>
                    <li>9 Συκώτι</li>
                    <li>10 Γυναικεία προβλήματα – Κλιμακτήριος</li>
                    <li>11 Νοητικές ικανότητες – Πνευματική διαύγεια</li>
                    <li>12 Σωματική ευεξία – Ευφορία</li>
                    <li>13 Αναζωογόνηση – Ανδρισμός</li>
                    <li>14 Σεξουαλική ικανότητα ανδρών-γυναικών</li>
                    <li>15 Ανακούφιση κόπωσης – Έλεγχος όρεξης, βάρους</li>
                    <li>16 Παιδιά</li>
                    <li>17 Διαβήτης</li>
                    <li>18 Στρες – Άγχος – Κατάθλιψη – Αϋπνία</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>19 Όραση</li>
                    <li>20 Εντερικές διαταραχές – Κολικοί – Κολίτιδα</li>
                    <li>21 Πάρκινσον</li>
                    <li>22 Εγκεφαλικές διαταραχές και αιμορραγίες</li>
                    <li>23 Καρδιά</li>
                    <li>24 Τριχοειδή αγγεία</li>
                    <li>25 Αδυναμία – Εξασθένηση οργανισμού</li>
                    <li>26 Θυρεοειδής αδένας</li>
                    <li>27 Αναιμία</li>
                    <li>28 Ανοσοποιητικό σύστημα</li>
                    <li>29 Αρτηριοσκλήρυνση</li>
                    <li>30 Βουλιμία</li>
                    <li>31 Γήρας</li>
                    <li>32 Εγκυμοσύνη – Θηλασμός</li>
                    <li>33 Δυσπεψία</li>
                    <li>34 Κακοήθεις όγκοι – Καρκίνος</li>
                    <li>35 Νεφρά</li>
                    <li>36 Χοληστερίνη</li>
                </ul>
            </div>
        </div>
    </div>
</div>