/* =====================================================
                        Navbar 
===================================================== */

.mouse-hand {
	cursor: pointer;
}

.top-bar {
	background-color: #6d5a22 !important;
	/* background: #886601; */
	color: #dcdcdc;
	padding: .5rem 0;
}

nav {
	/* background-color: #6d5a22!important; */
	background: #886601;
}

.navbar-toggler {
	color: rgb(246, 241, 132);
	border-color: rgb(146, 172, 37);
}

.navbar-nav a.nav-link {
	color: #dcdcdc;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(246, 241, 132)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul.navbar-nav {
	margin: 0 auto;
}

.cart-counter {
	position: absolute;
	top: -11px;
	right: 0px;
	border: 1px solid white;
	border-radius: 50%;
	padding: 1px 5px;
	line-height: 1;
}

/* =====================================================
                        Footer 
===================================================== */

footer {
	position: relative;
	background-color: #504115 !important;
	color: #ccc;
	padding: 3rem 0;
}

footer .nav-link {
	display: block;
	padding: .5rem 1rem;
}


/* =====================================================
                    Product Listing 
===================================================== */

/* .product-row {
    padding-top: 1.5rem;
} */

/* .product-col {
    margin-bottom: 1.5rem;
} */

.product-desc {
	padding: .5rem 0;
}

.product-listing .product-desc .product-title {
	font-size: 1.25rem;
}

.product-desc p {
	margin: 0;
}

.product-desc .price-tag {
	font-size: 1.25rem;
}

.product-desc .price-num {
	font-size: 1.5rem;
}

.normal-price {
	font-size: 1rem;
	text-decoration: line-through;
}

.sales-price {
	color: #ca0b0b;
	font-size: 1.5rem;
}

.product-row button {
	width: 100%;
}

/* =====================================================
                    Product Page 
===================================================== */

.product-page .add-to-cart {
	padding: .75rem 2rem;
	margin-left: .5rem;
}

.product-page ul#pills-tab {
	background: #e0e0e0;
	padding: 1rem .5rem;
}

.product-page .nav-pills .nav-link.active,
.product-page .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #886601;
}

.product-page .tab-pane {
	border: 8px solid #e0e0e0;
	border-top: 0;
	padding: 2rem;
}

/* =====================================================
                    Checkout Page 
===================================================== */

.checkout-page {
	max-width: 1000px;
	margin: 0 auto;
}

.checkout-page input:not([type=radio]) {
	line-height: 38px;
	font-size: 20px;
}

/* #test:hover .hover {
    display: none;
} */

.block-element {
	display: block;
}

/* =====================================================
                        Slick 
===================================================== */

/* .slick-prev,
.slick-next {
    background: #155724;
} */

.slick-image-wrapper {
	padding: 0 1rem;
}

/* .slick-prev {
    left: -9px;
}

.slick-next {
    right: -9px;
} */

/* =====================================================
                        Bootstrap 
===================================================== */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #8da225;
}

.carousel {
	padding-bottom: 2rem;
}

.home-padding {
	padding-bottom: 2rem;
}

/* =====================================================
                        Media Queries 
===================================================== */

@media only screen and (max-width: 535px) {
	form#myform {
		text-align: center;
	}
	.product-page .add-to-cart {
		padding: .75rem 3rem;
		margin-left: 0;
		margin-top: .5rem;
	}
	.quantity-input {
		max-width: 133px;
	}
	.qty-test {
		padding: .75rem 1.5rem;
	}
}

/* =====================================================
             Google Translate Styling plugin
===================================================== */
#google_translate_element {
	
	right: 16px!important;
	 /* z-index: 99999; */
  }
  .goog-te-gadget {
	font-family: Roboto, 'Open Sans', sans-serif!important;
	text-transform: uppercase;
  }
  .goog-te-gadget-simple  {
	background-color: rgba(255,255,255,0.20)!important;
	border: 1px solid rgba(255,255,255,0.50) !important;
	padding: 2px!important;
	border-radius: 5px!important;
	font-size: 1rem!important;
	line-height:2rem!important;
	display: inline-block;
	cursor: pointer;

  }
  .goog-te-menu2 {
	max-width: 100%;
  }
  .goog-te-menu-value {
	color: #fff !important;
  }
  .goog-te-menu-value span:nth-child(5) {
	display:none;
  }
  .goog-te-menu-value span:nth-child(3) {
	border:none!important;
	font-family: 'Material Icons';
	  content: "\E5C5";
	  font-size: 1.5rem;
	  vertical-align: -6px;
	  
  }
  
  .goog-te-gadget-icon {	  
	  display: none;
  }
  
   /* ============ HIDE TOP BAR ============  */
  .goog-te-banner-frame.skiptranslate {display: none!important;} 
  body {top: 0px!important;}

/* =====================================================
                       About Us
===================================================== */
.about-us .slick-next.slick-arrow {
    position: absolute;
    top: -35px;
    left: calc(50% - 13.5px);
    transform: rotate(-90deg);
}
.about-us .slick-prev.slick-arrow {
    position: absolute;
    top: 100%;
    left: calc(50% - 17.5px);
    transform: rotate(-90deg);
}
.active {
    font-weight: 600 !important;
}