<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>ΤΡΑΠΕΖΙΚΟΙ ΛΟΓΑΡΙΑΣΜΟΙ</h5>
                <p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-peiraios-tab" data-toggle="pill" data-target="#pills-peiraios" role="tab" aria-controls="pills-peiraios"
                                aria-selected="true">Πειραιώς</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-alpha-tab" data-toggle="pill" data-target="#pills-alpha" role="tab" aria-controls="pills-alpha"
                                aria-selected="false">Alpha Bank</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pill-ethnikh-tab" data-toggle="pill" data-target="#pill-ethnikh" role="tab" aria-controls="pill-ethnikh"
                                aria-selected="false">Εθνική</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-peiraios" role="tabpanel" aria-labelledby="pills-peiraios-tab">
                            <p>Αρ. Λογαριασμού: 55 24 033 744 169</p>
                            <p>ΙΒΑΝ: GR 22 0172 5240 0055 2403 3744 169</p>
                            <p>SWIFT: BIC PIR B GR AA</p>





                        </div>
                        <div class="tab-pane fade" id="pills-alpha" role="tabpanel" aria-labelledby="pills-alpha-tab">
                            <p>Αρ. Λογαριασμού: 679 00 231 000 46 46</p>
                            <p>IBAN: GR 27 0140 6790 6790 0231 000 46 46</p>
                        </div>
                        <div class="tab-pane fade" id="pill-ethnikh" role="tabpanel" aria-labelledby="pill-ethnikh-tab">
                            <p>Αρ.Λογαριασμού: 3363 75 36 80 10</p>
                            <p>ΙΒΑΝ: GR 82 0110 363 000 00 363 75 36 80 10</p>
                        </div>
                    </div>
                </p>
            </div>
            <div class="col-md-4">
                <h5>ΤΡΟΠΟΙ & ΚΟΣΤΟΣ ΠΑΡΑΔΟΣΗΣ</h5>
                <p>- Tα έξοδα αποστολής με ΚΤΕΛ είναι 7€.</p>
                <p> Είναι η γρηγορότερη αποστολή ιδίως για γύρη και βασιλικό πολτό που είναι ευπαθή, αλλά θα πρέπει να πάτε στα
                    ΚΤΕΛ να παραλάβετε το δέμα και να έχετε βάλει από πριν το ποσό σε έναν από τους λογαριασμούς τραπέζης,
                    που βλέπετε δεξιά.</p>
                <p> - Tα έξοδα αποστολής με γενική ταχυδρομική για όλη την Ελλάδα είναι 10€ η απλή αποστολή.</p>
                <p> - Αν επιλέξετε πληρωμή με αντικαταβολή με την γενική ταχυδρομική, το κόστος φτάνει τα 13€</p>
            </div>
            <div class="col-md-4">
                <h5>ΣΤΟΙΧΕΙΑ ΕΠΙΚΟΙΝΩΝΙΑΣ</h5>
                <p>Aθανάσιος και Iωάννης Οικονόμου Παραγωγοί Παραλία Νιφοραιϊκων 25200 Κάτω Αχαϊα / Πάτρα Τηλ: 697 28 28 629
                    Vodafone: 698 39 19 602 Whats’ up: 69 45 200 939 Σταθερό & Φαξ: 269 30 23 949 e-mail: soulis1972@hotmail.com</p>
            </div>
        </div>
    </div>
    <div ng-class="{'showMessage': showMessage}" class="popupMsg">
        <img src="../../images/svg/shopping-cart-black.svg" alt="" class="img-fluid" style="max-width: 3rem;">
        <p>Το προϊόν προστέθηκε με επιτυχια στο καλάθι</p>
    </div>
</footer>