<div class="top-bar">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-3 align-self-center text-center">
        <!-- <span style="display:inline-block;margin-bottom:.5rem;">Εχετε Απορίες;</span> -->
        <div id="google_translate_element"></div>
      </div>
      <div class="col-sm-6 text-center  align-self-center">
        <a href="">
          <a href="/">
            <img src="./images/logo.png" class="img-fluid" style="min-width: 250px;">
          </a>
        </a>

      </div>
      <div class="col-sm-3  align-self-center text-right">
        <a ng-href="cart">
          <img src="/images/svg/shopping-cart.svg" class="img-fluid" style="max-width:35px;">
          <span class="cart-counter">{{cart.length}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div id="google_translate_element"></div> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-repeat="category in navBar track by $index">
        <a class="nav-link" ng-href="products/{{category.slug}}/1" data-toggle="collapse" data-target=".navbar-collapse.show" ng-class="{ active: isActive('/products/{{category.slug}}/1')}">{{category.name}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ng-class="{ active: isActive('/products/{{category.slug}}/1')}">
          Άλλα προιόντα
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ng-repeat="category in otherProductsDropdown" href="products/{{category.slug}}/1" data-toggle="collapse"
            data-target=".navbar-collapse.show">{{category.name}}</a>
        </div>
      </li>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ng-class="{ active: isActive('/products/{{category.slug}}/1')}">
          Άλλα προιόντα
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" ng-repeat="category in otherProductsDropdown" href="products/{{category.slug}}/1" data-toggle="collapse"
            data-target=".navbar-collapse.show">{{category.name}}</a>
        </div>
      </div> -->
      <li class="nav-item">
        <a class="nav-link" ng-href="about-us" ng-class="{ active: isActive('/about-us')}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact" ng-class="{ active: isActive('/contact')}">Επικοινωνία</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link">
         

        </a>

      </li> -->
    </ul>

  </div>
</nav>

<script>

  $('.navbar-nav>li>a').on('click', function () {
    $('.navbar-collapse').collapse('hide');
  });
</script>