<div class="top-bar">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-3 align-self-center text-center">
        <!-- <span style="display:inline-block;margin-bottom:.5rem;">Εχετε Απορίες;</span> -->


      </div>
      <div class="col-sm-6 text-center  align-self-center">
        <a href="">
          <a href="/"><img src="./images/logo.png" alt="" class="img-fluid"></a>
        </a>

      </div>
      <div class="col-sm-3  align-self-center text-right">
        <a href="cart">
          <img src="./images/svg/shopping-cart.svg" alt="" class="img-fluid" style="max-width:35px;">
          <span class="cart-counter">{{cart.length}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div id="google_translate_element"></div> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ng-repeat="category in navBar track by $index">
        <a class="nav-link" ng-href="products/{{category.slug}}/1">{{category.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Άλλα Προϊόντα</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Επικοινωνια</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <div id="google_translate_element"></div>

        </a>

      </li>
    </ul>

  </div>
</nav>