<div class="sucess-msg" ng-if="!!successMsg">
    <!-- <span class="close-msg">X</span> -->
    <!-- <img class="img-responsive" src="../img/svg/success.svg"> -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="90.594px" height="59.714px" viewBox="0 0 90.594 59.714" enable-background="new 0 0 90.594 59.714" xml:space="preserve">
        <polyline class="check" fill="none" stroke="#006837" stroke-width="5" stroke-miterlimit="10" points="1.768,23.532 34.415,56.179 88.826,1.768"
        />
    </svg>

    <p style="margin:0;">{{successMsg}}</p>
</div>